body{
    margin: 3rem;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 1.5;
    font-size: 18px;
}

h1{
    line-height: 1.5;
    margin: 3rem 0 0 ;
}
p{
    margin: .5rem;
}

#switcher{
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#switcher li{
    float: left;
    width: 30px;
    height: 30px;
    margin: 0 15px 15px 0;
    border-radius: 30px;
    border: 3px solid black;
    cursor: pointer;
}

#redbtn{
    background-color: red;
}

#greybtn{
    background-color: grey;
}

#yellowbtn{
    background-color: yellow;
}

#bluebtn{
    background-color: blue;
}
#btn_1{
    background-color: #205781;
}
#btn_01{
    background-color: #FFB8E0;
}
#btn_02{
    background-color: #BE5985;
}
#btn_03{
    background-color: #205781;
}
#btn_04{
    background-color: #205781;
}
#btn_05{
    background-color: #205781;
}
#btn_06{
    background-color: #205781;
}
#btn_07{
    background-color: #205781;
}
#btn_08{
    background-color: #205781;
}
#btn_09{
    background-color: #205781;
}
#btn_010{
    background-color: #205781;
}
#btn_1{
    background-color: #205781;
}
#btn_1{
    background-color: #205781;
}
#btn_1{
    background-color: #205781;
}
#btn_1{
    background-color: #205781;
}
#btn_1{
    background-color: #205781;
}
#btn_1{
    background-color: #205781;
}
#btn_1{
    background-color: #205781;
}
#btn_1{
    background-color: #205781;
}
#btn_1{
    background-color: #205781;
}
#btn_1{
    background-color: #205781;
}
#btn_1{
    background-color: #205781;
}
#btn_1{
    background-color: #205781;
}
#btn_1{
    background-color: #205781;
}
#btn_1{
    background-color: #205781;
}
#btn_1{
    background-color: #205781;
}
#btn_1{
    background-color: #205781;
}
#btn_1{
    background-color: #205781;
}
#btn_1{
    background-color: #205781;
}
